<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Laboratorio" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=Laboratorio;Integrated Security=True"/>
  </connectionStrings>
</configuration>